.Duseniesa-title {
    font-size: 3em;
    color: black;
    font-family: "Century Schoolbook";
    background: red;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.Duseniesa-sipka {
    position: relative;
    left: -600px;
    top: 60px;
}

.Duseniesa-text {
    color: black;
    font-family: "Century Schoolbook";
    text-align: left;
    top: 0px;
}

.Duseniesa-obrazok9 {
    position: relative;
    right: 250px;
    top: 30px;
}

.Duseniesa-obrazok10 {
    position: relative;
    left: 250px;
    bottom: 30px;
}